@import "all";

.success{
  width: 940px;
  height: 460px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../img/brooke-lark-385507-unsplash.jpg);
  background-size: cover;
  background-position: center;
  ul{
    display: flex;
    &:before{
      content:'';
      position: absolute;
      top:50%;
      left: 20px;
      width: calc(100% - 40px);
      height: 1px;
      background: $green;
    }
    li{
      margin: 0px 20px;
      width: 21px;
      height: 21px;
      background: $green;
      border-radius: 50%;
      text-align: center;
      i{
        font-size: 1rem;
        color: $light_green
      }
    }
  }
  img{
    width: 190px;
  }
  a{
    display: block;
    color: $green;
    padding: 15px 100px;
    font-size: 1.5rem;
    background: $yellow;
    text-align: center;
    transition: all .3s;
    &:hover{
      background: $green;
      color: $light_green;
    }
  }
}